 <form action="/fav-list/<%=details.id%>" method="post">
                 <button type="submit" class="fav-btn">Add to favourites</button>      
                <input type="hidden" value="<%= details.id%>" name="id">    
</form>

