 <form  action="/host-homelist" method="post">
                 <button type="submit" class="popedit-btn">Remove from register List</button>      
                <input type="hidden" value="<%= home.id %>" name="id"></input>  
   
</form>
