<nav class="site-nav">
    <div class="site-nav__inner">
        <a href="/" class="site-nav__brand">Airbnb</a>

        <div class="site-nav__links">
            <a class="site-nav__link" href="/host/addHome">Add Home as admin</a>
            <a class="site-nav__link site-nav__link--primary" href="/user/addHome">Add Home as user</a>
            <a class="site-nav__link site-nav__link--primary" href="/booking">Bookings</a>
        <a class="site-nav__link site-nav__link--primary" href="/favlist">Favourite list</a>
        </div>
    </div>
</nav>
