 <form action="/fav-list/<%=details._id%>" method="post">
                 <button type="submit" class="fav-btn">Add to favourites</button>      
                <input type="hidden" value="<%= details._id%>" name="id">    
</form>
