 <form  action="/fav-list/<%=home._id%>?_method=DELETE" method="post">
                 <button type="submit" class="popfav-btn">Remove from favourites</button>      
                <input type="hidden" value="<%= home._id%>" name="id">    
</form>
