<%- include('../partials/header') %>
<body>
    <%- include('../partials/nav') %>
    <main class="page-shell page-shell--simple status-page">
        <h1>house registered succefully admin</h1>
        <a href="/">back to HOME PAGE</a>
    </main>
</body>
</html>
